<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="style.css" >
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
</head>
<body>
  <header>
      <h1>ONLINE SHOP SITE--THE FIRST GROUP</h1>	  
  </header>
  
  <div id="main"> <!-- main 一定要放vue 前面!!!!!!!!!!!!!!!!!-->
    <div class="modal" v-if="isCartOpen">
      <div class="modal-content">
          <span class="close" @click="closeModal()">&times;</span>
          <h2>購物車內容</h2>
          <table border="1">
            <tr>
                <th>商品名稱</th>
                <th>單價</th>
                <th>數量</th>
                <th>操作</th>
            </tr>
            <tr v-for="(product, index) in cart">
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <button @click="removeFromCart(product.id)">delete</button>
                </td>
            </tr>
        </table>
          <div>
            <div v-for="prod in cart">
              <p>{{ prod.name }} - 單價: ${{ prod.price }} - 數量: {{ prod.quantity }}</p>
            </div>
          </div>
          <div id="total-price">總價: {{ totalPrice }}</div>
          <button @click="checkout">結帳</button>     
      </div>
    </div>

    <div v-if="UI=='reviewForm'">
	  <input type='button' @click="setUI('main')" value="返回"><br />
      <h2>評價表單</h2>
      
      <label for="selectedOwner">選擇商家：</label>
      <select v-model="reviewForm.selectedOwner">
        <option v-for="orderItem in order" :value="orderItem.owner_id">{{ orderItem.owner_id }} </option>
      </select>

      <label for="rating">滿意度評價：</label>
      <select v-model="reviewForm.rating">
        <option value="1">1顆星</option>
        <option value="2">2顆星</option>
        <option value="3">3顆星</option>
        <option value="4">4顆星</option>
        <option value="5">5顆星</option>
      </select>
      <button @click="submitReview">提交評價</button>
    </div>

    <div id="list" v-if="UI=='main'"><!-- main 一定要放vue 前面!!!!!!!!!!!!!!!!!-->
        <button @click="openModal()">查看購物車</button>
        <button @click="viewOrders()">查看訂單狀態</button>
        <button @click="showReviewForm()">評價</button>
		<table border=1><!-- main 一定要放vue 前面!!!!!!!!!!!!!!!!!-->
            <tr>
              <td>序號</td>
              <td>商品名稱</td>
              <td>價格</td>
              <td>內容說明</td>
              <td>存貨數量</td>
            </tr>
            <tr v-for="product in dat">
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.detail}}</td>
              <td>{{product.remain}}</td>
              <td>
                <button @click="addToCart(product.id)">加入購物車</button>
              </td>
            </tr>
          </table>
		  <input type='button' @click="logout()" value="logout"/>
    </div>
	
	
	<div id="list" v-if="UI=='owner'">
      <header><h1>Owner</h1></header>
	  </br>
      <button @click="setAddUI()">Load Add Form</button>
	  </br>
	  </br>
      <table border=1>
        <h2>我的商品</h2>
        <tr>
          <td>序號</td>
          <td>商品名稱</td>
          <td>價格</td>
          <td>內容說明</td>
          <td>存貨數量</td>
          <td>-</td>
        </tr>
        <tr v-for="product in dat">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.detail}}</td>
          <td>{{product.remain}}</td>
          <td>
            <button @click="del(product.id)">刪</button><button @click="setEditUI(product)">改</button>
          </td>
        </tr>
      </table>

      <table border=1>
        <h2>我的訂單</h2>
        <tr>
          <td>序號</td>
          <td>商品名稱</td>
          <td>客戶</td>
          <td>狀態</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr v-for="order in orderList">
          <td>{{order.id}}</td>
          <td>{{order.product_id}}</td>
          <td>{{order.client_id}}</td>
          <td id = "orderStatus">1</td>
          <td>
            <button @click="confirmOrder(order.id)">確認</button><!-- 改成狀態處理中-->
          </td>
          <td>
            <button @click="shipOrder(order.id)">寄送</button><!-- 改成狀態寄送中-->
          </td>
        </tr>
      </table>
	  <input type='button' @click="logout()" value="logout"/>
    </div>
	
	<div v-if="UI=='editForm'">
	  </br>
	  商品名稱: <input type="text" v-model="newProduct.name" /> <br />
	  價錢: <input type="text" v-model="newProduct.price" /> <br />
	  商品說明: <textarea v-model="newProduct.detail"></textarea><br />
	  庫存: <input type="number" v-model="newProduct.remain"><br />
	  <input type='button' @click="addProduct(newProduct)" value="save">
	</div>

	
	<div v-if="UI=='loginForm'">
		</br>
		ID: <input type="text"  v-model="id"/> <br/>
		Password: <input type="text" v-model="pwd" />
		<input type='button' @click="login()" value="login"/> <br/>
		<button @click="showRegistrationForm()">註冊</button>
	 </div>
	 
	<div v-if="UI=='registrationForm'">
		<h2>註冊</h2>
		<input type='button' @click="setUI('loginForm')" value="返回"><br />
		ID: <input type="text" v-model="registration.id" /> <br />
		Password: <input type="password" v-model="registration.pwd" /> <br />
		身分: 
		<select v-model="registration.role">
			<option value="1">客戶</option>
			<option value="99">商家</option>
		</select> <br />
		<input type='button' @click="register()" value="註冊">
	</div>

	<div v-if="UI=='logistics'">
	  <header><h1>Logistics</h1></header>
	  <table border=1>
		<tr>
		  <th>客戶ID</th>
		  <th>商家ID</th>
		  <th>狀態</th>
		</tr>
		<tr v-for="order in orderList">
			<td>{{ order.client_id }}</td>
			<td>{{ order.owner_id }}</td>
			<td>{{ getStatusText(order.state) }}</td>
			<td>
				<button v-if="order.state === 3 || order.state === 4" @click="updateOrderStatus(order.client_id, order.owner_id)">更新狀態</button>
			</td>
		</tr>
	  </table>
	  <input type='button' @click="logout()" value="logout"/>
	</div>


  </div>



  <script>
    const productApp = Vue.createApp({
	  data() {
	    return {
		  UI: 'main',
		  dat: [],
	  	isCartOpen: false,
	  	cart : [],
	  	totalPrice: 0,
	  	userId: null,
	  	myRole: 0, //來存註冊者的角色
	  	orderList: [],
		id:null,
		pwd:null,
      reviewForm: {
      owner_id: null,
      state:null,
      rating: 1, // 預設1顆星
      
        },
	    }
	  },

      methods: {
		  checkLogin: function() {
		  if (this.myRole === 1) { //1是客戶
			this.setUI('main');
			this.loadAllList();
		  } else if (this.myRole === 99) { //99是商家
			this.setUI('owner');
			this.loadUserList();
		  } else if (this.myRole === 50) { // 物流角色
			this.setUI('logistics');
			this.loadLogisticsOrders();
		  }else {
			this.setUI('loginForm'); //還沒登入的話顯示登入畫面
 		  }
		  },
		login: function() { //登入後與後台確認是否正確
		  const that = this;
		  let mydat = new FormData();
		  mydat.append("id", this.id);
		  mydat.append("pwd", this.pwd);
		  mydat.append("act", 'login');
		  let url = "controller.php";
		  fetch(url, {
			method: 'POST',
			body: mydat
		  })
		  .then(function(res) {
			return res.json();
		  })
		  .then(function(data) {
			console.log(data);
			if (data.role > 0) {
			  that.userId = data.id; //將id存起來 以便後面判斷對應其項目
			  that.myRole = data.role;
			  that.checkLogin();
			} else {
			  alert("登入失敗");
			}
		  });
		},
		logout: function() {
		  const that=this;
		  let url="controller.php?act=logout";
		  fetch(url)
		  .then(function(res){return res.text(); }) 
		  .then(function(data){
			that.userId = null;  //登出把資料都清掉
			that.myRole = 0;
			that.checkLogin();
		  })
		},
        
    loadAllList: function () { //在客戶頁面列出所有商品內容
      const that = this;
      fetch('controller.php?act=listProduct')
        .then(function (response) {
          return response.json();
        })
        .then(function (myJson) {
          that.dat = myJson;
        });
    },
		loadUserList: function () { //在商家頁面只列出自己的商品
			const that = this; 
			fetch('controller.php?act=listUserProduct&userId=' + this.userId) //把id傳到後台 讓model判斷 只回傳同id的商品
				.then(function (response) {
					return response.json();
				})
				.then(function (myJson) {
					that.dat = myJson;
				});
		},

    // 購物車
        loadCart: function () {
          const that = this;
		  let url="controller.php?act=listCart&userId="+ this.userId;
          fetch(url)
            .then(function (response) {
              return response.json();
            })
            .then(function (myJson) {
              that.cart = myJson;
              that.updateCartPrice()
            });
        },
        openModal: function() {
          this.loadCart()
          this.isCartOpen = true
        },
        closeModal: function() {
          this.isCartOpen = false
        },
        updateCartPrice: function(){
          let total = 0;
          this.cart.forEach(item => {
            total = total+ item.price * item.quantity
        });
          this.totalPrice = total;
        },		
		addToCart: function(productId) {
		  const that = this;
		  let url = "controller.php?act=addToCart&productId=" + productId + "&userId=" + this.userId; //把id傳到後台 一起加到新增的資料
		  fetch(url)
			.then(function(res) {
			  return res.json(); 
			})
			.then(function(data) {
			  console.log(data);
			  if (data.error) {
				alert(data.error);
			  } else {
				that.loadCart();
			  }
			});
		},
        removeFromCart: function(id) {
          const that = this;
          let url = "controller.php?act=removeFromCart&id=" + id;
          fetch(url, {
            method: 'POST'
          })
            .then(function (res) { return res.text(); })
            .then(function (data) {
              console.log(data);
              that.loadCart();
            })
        },
        checkout: function() {
          const that = this;
		  let url="controller.php?act=checkout&userId="+ this.userId;
          fetch( url, {
		method: 'POST',
		body: JSON.stringify({ cart: this.cart}), // 傳遞購物車內容及使用者ID到後端
		headers: {
		  'Content-Type': 'application/json',
		},
	  })
	  .then(response => response.json())
	  .then(data => {
		console.log(data);
		// 在這裡處理後端結帳操作的回應，更新前端介面或顯示提示
		if (data.message) {
		  alert(data.message);
		  // 可以在這裡清空購物車或執行其他相應操作
		  that.loadCart();
		  that.loadAllList();
		} else {
		  alert('結帳失敗');
		}
	  })
  .catch(error => {
    console.error('Error during checkout:', error);
    alert('結帳時發生錯誤');
  });
    },
    viewOrders: function() {
    const that = this;

    // 使用後端 API 取得訂單狀態資訊
    let url = "controller.php?act=viewOrders&userId=" + this.userId;

    fetch(url)
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        // 在這裡處理後端返回的訂單狀態資訊
        if (data && data.length > 0) {
          // 顯示訂單狀態
          // 這裡只是簡單地使用 alert 顯示
          let orderStatus = "訂單狀態：\n";
          data.forEach(order => {
            orderStatus += `訂單編號: ${order.id}, 商品名稱: ${order.product_id}, 狀態: ${order.state}\n`;
          });

          alert(orderStatus);
        } else {
          alert("沒有找到相關訂單資訊");
        }
      })
      .catch(function(error) {
        console.error('Error fetching order status:', error);
        alert('取得訂單狀態時發生錯誤');
      });
  },
  showReviewForm(owner_id) {
  const that = this;
  if (this.reviewForm) {
    this.reviewForm.owner_id = owner_id;
    this.setUI('reviewForm');
  } else {
    alert("評價表單未初始化");
    this.reviewForm.owner_id = owner_id;
    this.setUI('reviewForm');
  }

  // 在这里调用获取订单信息的方法
  let url = "controller.php?act=viewOrdersInfo&userId=" + this.userId;
  fetch(url)
    .then(function(response) {
      return response.json();
    })
    .then(function(data) {
      // 在这里更新评价表单中的商家选择下拉框
      that.order = data;

      // 手动强制更新 Vue 组件
      that.$forceUpdate();
    })
    .catch(function(error) {
      console.error('Error fetching orders:', error);
      alert('获取订单时发生错误');
    });
},
submitReview() {
  // 在這裡處理提交評價的相應操作

  // 檢查訂單狀態是否為5（已送達）
  if (this.reviewForm.order_state !== 5) {
    alert('只有在訂單已送達的狀態下才能進行評價。');
    return;
  }

  // 使用 this.reviewForm.selectedOwner 來獲取選定的商家
  const selectedOwner = this.reviewForm.selectedOwner;

  fetch('controller.php?act=submitReview', {
    method: 'POST',
    body: JSON.stringify({
      order_id: this.reviewForm.order_id,
      owner_id: selectedOwner, // 使用選定的商家
      client_id: this.reviewForm.client_id,
      rating: this.reviewForm.rating,
      // 其他評價表單相關屬性
    }),
    headers: {
      'Content-Type': 'application/json',
    },
  })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      if (data.message === 'OK') {
        alert('評價成功');
        this.setUI('main');
      } else {
        alert('評價失敗');
      }
    })
    .catch(error => {
      console.error('Error submitting review:', error);
      alert('評價時發生錯誤');
    });
},
   
		del: function (id) {
          const that = this;
          let url = "controller.php?act=del&id=" + id;
          fetch(url, {
            method: 'POST'
          })
            .then(function (res) { return res.text(); })
            .then(function (data) {
              console.log(data);
              that.loadUserList();
            })
        },
		addProduct: function () {
		  const that = this;
		  this.newProduct.userId = this.userId;
		  let mydat = new FormData();
		  mydat.append("dat", JSON.stringify(this.newProduct));

		  let url = "controller.php?act=addProduct";
		  fetch(url, {
			method: 'POST',
			body: mydat
		  })
		  .then(function (res) { return res.text(); })
		  .then(function (data) {
			console.log(data);
			that.setUI('owner');
			that.loadUserList();
		  })
		},
        setEditUI: function (product) {
          this.newProduct = product;
          this.setUI('editForm');
        },
        setAddUI: function () {
          this.newProduct = {
            id: -1,
            name: '',
            price: '',
            detail: '',
            remain: ''
          };
          this.setUI('editForm');
        },


        // 註冊
		showRegistrationForm: function() {
			this.registration = {
				id: '',
				pwd: '',
				role: 1
			 };
			this.setUI('registrationForm');
		},
		register: function() {
			const that = this;
			let mydat = new FormData();
			mydat.append("id", this.registration.id);
			mydat.append("pwd", this.registration.pwd);
			mydat.append("role", this.registration.role);
			mydat.append("act", 'register'); 
			let url = "controller.php";
			fetch(url, {
				method: 'POST',
				body: mydat
			})
			.then(function(res) {
				return res.json();
			})
			.then(function(data) {
				console.log(data);
				if (data.msg === 'OK') {
					that.setUI('loginForm');
				} else {
					alert("註冊失敗");
				}
			});
		},

    // 1 未處理
    // 2 處理中
    // 3 寄送中
    // 4 已寄出
    // 5 已送達
    confirmOrder: function(id){ // 會變成2

    },
    shipOrder: function(id){ // 會變成3

    },
    getStatusText: function(statusCode){

    },
    // 管理商家訂單物流
		loadOrder: function () { 
          const that = this;
          fetch('controller.php?act=listOrder')
            .then(function (response) {
              return response.json();
            })
            .then(function (myJson) {
              that.orderList = myJson;
            });
        },
		loadLogisticsOrders: function () {
			const that = this;
			fetch('controller.php?act=listLogisticsOrders')
				.then(function (response) {
					return response.json();
				})
				.then(function (myJson) {
					that.orderList = myJson.filter(order => order.state === 3 || order.state === 4 || order.state === 5);
				})
				.catch(function (error) {
					console.error('Error fetching logistics orders:', error);
				});
		},
		updateOrderStatus: function(clientId, ownerId) {
			const that = this;
			let url = "controller.php?act=updateOrderStatus&clientId=" + clientId + "&ownerId=" + ownerId;
			fetch(url, { method: 'POST' })
				.then(() => {
					that.loadLogisticsOrders(); 
					that.setUI('logistics');
				})
				.catch(error => {
					console.error('Error updating order status:', error);
				});
		},

		getStatusText: function(statusCode) {
			switch(statusCode) {
				case 1:
					return '未處理';
				case 2:
					return '處理中';
				case 3:
					return '寄送中';
				case 4:
					return '已寄送';
				case 5:
					return '已送達';
				default:
					return '未知';
			}
		},
        setUI: function (page) {
          this.UI = page;
        }
        }  ,
      created() {
		this.checkLogin();
      }
    }).mount("#main");

  </script>
</body> 
</html>