<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="style_owner.css">
  <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <hr />
  <div id="main">
    <div id="list" v-if="UI=='main'">
      <header><h1>ShoppingKart Main Page</h1></header>
	  </br>
      <button @click="setAddUI()">Load Add Form</button>
	  </br>
	  </br>
      <table border=1>
        <tr>
          <td>序號</td>
          <td>商品名稱</td>
          <td>價格</td>
          <td>內容說明</td>
          <td>存貨數量</td>
          <td>-</td>
        </tr>
        <tr v-for="product in dat">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.detail}}</td>
          <td>{{product.remain}}</td>
          <td>
            <button @click="del(product.id)">刪</button><button @click="setEditUI(product)">改</button>
          </td>
        </tr>
      </table>
    </div>
    <div v-if="UI=='editForm'">
      商品名稱: <input type="text" v-model="newProduct.name" /> <br />
      價錢: <input type="text" v-model="newProduct.price" /> <br />
      商品說明: <textarea v-model="newProduct.detail"></textarea><br />
      庫存: <input type="number" v-model="newProduct.remain"><br />
      <input type='button' @click="addProduct()" value="save">
    </div>
  </div>

  <script>
    const productApp = Vue.createApp({
      data() {
        return {
          UI: 'main',
          dat: [],
          newProduct: {
            id: -1,
            name: '',
            price: '',
            detail: '',
            remain: ''
          }
        }
      },
      methods: {
        loadList: function () {
          const that = this;
          fetch('controller.php?act=listProduct')
            .then(function (response) {
              return response.json();
            })
            .then(function (myJson) {
              that.dat = myJson;
            });
        },
        del: function (id) {
          const that = this;
          let url = "controller.php?act=del&id=" + id;
          fetch(url, {
            method: 'POST'
          })
            .then(function (res) { return res.text(); })
            .then(function (data) {
              console.log(data);
              that.loadList();
            })
        },
        addProduct: function () {
          const that = this;
          let mydat = new FormData();
          mydat.append("dat", JSON.stringify(this.newProduct));

          let url = "controller.php?act=addProduct";
          fetch(url, {
            method: 'POST',
            body: mydat
          })
            .then(function (res) { return res.text(); })
            .then(function (data) {
              console.log(data);
              that.setUI('main');
              that.loadList();
            })
        },
        setEditUI: function (product) {
          this.newProduct = product;
          this.setUI('editForm');
        },
        setAddUI: function () {
          this.newProduct = {
            id: -1,
            name: '',
            price: '',
            detail: '',
            remain: ''
          };
          this.setUI('editForm');
        },
        setUI: function (page) {
          this.UI = page;
        }
      },
      created() {
        this.loadList();
      }
    }).mount("#main");
  </script>
</body>
</html>