
  html,body {
    margin: 0;
  }

  header {
    
    background: purple;
    /* height: 100px;
    margin: 0; */
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    width: 265px; /* 設定固定的寬度 */
    height: 400px;
    padding: 10px;
    margin: 10px;
    background: lightblue;
    text-align: center;
  }

  article img {
    max-width: 100%; 
    height: auto; /* 保持長寬比 */
    display: inline-block; /* 設置為行內塊元素，以便text-align: center;生效 */
    margin: 0 auto; 
}

h3{
    color: blue;
}
button {
    width: 100%;
    /* padding: 10px;  */
    height: 30px;
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
  }

  section {
    display: flex;
  }

body {
    /* width: 90%;
    max-width: 900px; */
    margin: 0 auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: repeat(12, minmax(0,1fr));
    gap: 20px;
}


aside {
    border-right: 1px solid #999;
}


/* 以下為購物車 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}